{% extends "modelo.html" %}
{% block conteudo %}
<h1>Adicionar receita</h1>

<form action="{{ url_for('criar_termo')}}" method="post">
  <div class="mb-3">
    <label for="termo" class="form-label">Receita</label>
    <input  class="form-control" id="termo" name="termo" aria-describedby="emailHelp">
    <div id="termoHelp" class="form-text">Receita para ser adicionado.</div>
  </div>
  <div class="mb-3">
    <label for="definicao" class="form-label">Ingredientes</label>
    <textarea class="form-control" id="definicao" name="definicao" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}