<!DOCTYPE HTML>
<html lang = "pt-br">

<head>
	<meta name = "viewport" content = "width=device-width">
	<meta charset = "UTF-8">
	<link href = "../static/style.css" rel = "stylesheet" type = "text/css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@100&family=Poppins:wght@300&family=Ribeye&display=swap" rel="stylesheet">

	<title>rascunho</title>
</head>

<body>
	<header>
		<div class = "left-side-menu">
			<img ID = "icon" src =  "../static/img/GlossarickIcon.png">
			<img ID = "logo" src = "../static/img/GlossarickLogo.png">
		</div>

		<div class = "right-side-menu">
			<div class = "homeclass">
				<a href = "/"> <img ID = "home" src = "../static/img/home.png"></a>
			</div>
			<div class = "todoclass">
				<a href = "Gerenciador_de_Tarefas.html"> <img ID = "todo" src = "../static/img/todo.png"></a>
			</div>
			</nav>
		</div>
	</header>
	
	<main>
		<h1>Gerenciador de tarefas vem aqui:</h1>
		<ul>
			<li>Tarefa 1</li>
			<li>Tarefa 2</li>
			<li>Tarefa 3</li>
		</ul>
	</main>
	
	<footer>
	
	</footer>
</body>

</html>