<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be Healthy</title>
  <!--Estilo custom CSS-->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="codigojs.js" defer></script>
  
  <!--

    -->
</head>

<body>
  <header>
    <div id="cabecalho-conteiner">
      <div id="cabecalho-conteiner-img">
        <img src="./images/novalogo.png" alt="logo" height="50px">
        <nav class="cabecalho-menu">
          <a href="Cadastro/cadastro.html" class="cabecalho-menu-item">
            <span>Cadastre-se</span>
          </a>
        </nav>
      </div>

    </div>
  </header>


  <main class="conteudo">
    <section class="conteudo-principal">
      <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Olá! bem-vindo(a)</h1>
        <h3 class="conteudo-principal-escrito-subtitulo">O nosso site foi pensado e desenvolvido objetivando fornecer
          suporte na <br> adoção uma forma de alimentação saudável, equilibrada e personalizada para o
          usuário.<br>Analisando os impedimentos e dificuldades do consumidor chegamos a ponto cruciais,<br> como a
          escassez/melhor aproveitamento de tempo, falta de informações acessíveis, personalizadas e com metas de
          saúde,<br> omissão de motivação e suporte, acompanhamento progressivo, confiabilidade nas informações e
          facilidade de uso.<br></p>
          <br>
          <br>
          <a href="login.html" class="button">
            <span>Entrar</span>
          </a>
      </div>
      <br>
      <img class="conteudo-principal-img" src="./images/logooo.gif" alt="Logo Be Healthy">
    
    </section>
  </main>
  <!-- Icones do footer -->
  <footer class="rodape">
    <a href="https://www.instagram.com/behealthycompanyjp/"><img src="./images/instagram.svg" alt="insta"
        height="30px"></a>
    <a href="https://www.linkedin.com/in/be-healthy-7bb48629b"><img src="./images/linkedin.svg" alt="linkedin"
        height="30px"></a>
    <a href="mailto:behealthycompanyjp@gmail.com?"><img src="./images/envelope.svg" alt="email" height="30px"></a>

    </div>
  </footer>


</body>

</html>