<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be Healthy</title>
  <!--Estilo custom CSS-->
  <link rel="stylesheet" type="text/css" href="../static/css/styleIndex.css">
  <script src="" defer></script>
  <!-- BootStrap -->
  <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous" />
</head>

<body>
  <header>
    <div id="cabecalho-conteiner">
      <div id="cabecalho-conteiner-img">
        <img src="../static/images/novalogo.png" alt="logo" height="50px">
        <nav class="cabecalho-menu">
          <a href="cadastro_beHealthy" class="cabecalho-menu-item">
            <span>Cadastre-se</span>
          </a>
        </nav>
      </div>

    </div>
  </header>


  <main class="conteudo">
    <section class="conteudo-principal">
      <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Olá! bem-vindo(a)</h1>
        <h3 class="conteudo-principal-escrito-subtitulo">O nosso site foi pensado e desenvolvido objetivando fornecer
          suporte na <br> adoção uma forma de alimentação saudável, equilibrada e personalizada para o
          usuário.<br>Analisando os impedimentos e dificuldades do consumidor chegamos a ponto cruciais,<br> como a
          escassez/melhor aproveitamento de tempo, falta de informações acessíveis, personalizadas e com metas de
          saúde,<br> omissão de motivação e suporte, acompanhamento progressivo, confiabilidade nas informações e
          facilidade de uso.<br></p>
          <br>
          <br>
          <a href="/login_beHealthy" class="button">
            <span>Entrar</span>
          </a>
      </div>
      <br>
      <img class="conteudo-principal-img" src="../static/images/logooo.gif" alt="Logo Be Healthy">
    
    </section>
  </main>
  <!-- Icones do footer -->
  <footer class="rodape">
    <a href="https://www.instagram.com/behealthycompanyjp/"><img src="../static/images/instagram.svg" alt="insta"
        height="30px"></a>
    <a href="https://www.linkedin.com/in/be-healthy-7bb48629b"><img src="../static/images/linkedin.svg" alt="linkedin"
        height="30px"></a>
    <a href="mailto:behealthycompanyjp@gmail.com?"><img src="../static/images/envelope.svg" alt="email" height="30px"></a>

    </div>
  </footer>

  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script>

</body>

</html>