<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/stylecss.css">
    <link rel="html" type="text/html" href="index.html">

</head>
<body>
    <header>
        <div id="header_container">
          <div id="logo_container">
            <img
              src="./images/novalogo.png" alt="logo" height="50px">
            <nav class="img_item">
              </nav>
          </div>
          <a href="index.html" class="cabecalho-menu-item">
            <span>Voltar</span></a>
        </div>
      </header>
      <main>
        <div id="main_container">
          <div id="login_container">
            <div id="img_container">
              <img
                src="./images/logosemnome.png"
                alt="logo"
                class="logo_item"
                
              />
            </div>
            <div id="input_container">
              <div id="email_container">
                <label for="email_label">E-mail:</label>
                <input type="text" name="email" class="email_input" class="inpt_item"/>
              </div>
              <div id="password_container">
                <label for="password">Senha:</label>
                <input type="password" name="password" class="password_input" class="inpt_item"/>
              </div>
              <div id="send_email_container">
                <input type="checkbox" class="btn_item" />
                <p>Salvar senha</p>
              </div>
            </div>
            <div class="send_user_container">
                <a href="index2/index2.html" class="button">
                    <span>Entrar</span>
                    </a>
            </div>
          </div>
        </div>
      </main>
    
</body>
</html>