<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de receitas </title>
    <link rel="stylesheet" type="text/css" href="../static/css/receitas.css">

</head>
<body>
  <header>
    <div id="header_container">
      <div id="logo_container">
        <img
          src="../static/images/novalogo.png" alt="logo" height="50px">
        <nav class="img_item">
        </nav>
      </div>
      <a href="/" class="cabecalho-menu-item">
        <span>Voltar</span></a>
    </div>
  </header>
  <main>
    <div id="main_container"> 
        <div id="receitas_container">
    <br>
    <br>
    <br>

    <h1>Smoothie de morango e banana</h1> 
    <br>
    <br>
    <img src="../static/images/smothie de banana e morango.jpg" alt="smoothie" height="330px"> 
    <h3>Ingredientes:</h3>
    <br>
    <ul>
        <li> 2 bananas congeladas </li>
        <li> 2 xícaras de chá de morangos congelados</li>
        <li> 1/3 xícara de chá de iorgute natural bem consistente</li>
        <li> Adoçante ou açúcar a gosto</li>
    </ul>
    <br>
    <br>
    <h1> Smoothie de manga e banana</h1>
    <br>
    <br>
    <img src="../static/images/smoothie manga.webp" alt="smt" height="300px">
    <h3> Ingredientes</h3>
    <br>
    <ul>
        <li> 1/2 banana-prata picada</li>
        <li> 1 xícara de chá de leite de amêndoas</li>
        <li> 1/2 xícara de chá de iorgute natural integral</li>
        <li> 1/2 xícara de cubos de gelo</li>
        <li> 1 colher de sopa de aveia</li>
        <li> 1/2 colher de sopa de mel</li>
    </ul>
    <br>
    <br>
    <h1> Capuccino proteico</h1>
    <br>
    <br>
    <img src="../static/images/cappuccino-proteico.webp" alt="capuccino" height="330px">
    <h3> Ingredientes</h3>
    <br>
    <ul>
        <li> 1 scoop de whey do sabor de sua preferência</li>
        <li> 1 colher de café solúvel</li>
        <li> 1 colher de cacau em pó</li>
        <li> 1/2 colher de canela em pó</li>
    </ul>
    <br>
    <br>
    <h1> Salada de batata doce com frango picante</h1>
    <br>
    <br>
    <img src="../static/images/salada-frango-batata-doce-queijo-cabra.jpg" alt="salada" height="330px">
    <h3> Ingredientes</h3>
    <br>
    <ul>
        <li> 2 unidades de limão;</li>
        <li> 2 unidades de pimenta malagueta seca;</li>
        <li> 1 colher de chá de sementes de cominho;</li>
        <li> 2 dentes de alho descascados e amassados;</li>
        <li>Sal e pimenta a gosto</li>
        <li> Azeite a gosto;</li>
        <li> 6 unidades de sobrecoxa ou coxa de frango picados;</li>
        <li> 3 unidades de batatas-doce cortadas em pedaços;</li>
    </ul>
    <br>
    <br>
    <h1> Escondidinho de batata doce com carne moída</h1>
    <br>
    <br>
    <img src="../static/images/escondidinho.jpeg" alt="escondidinho" height="330px">
    <h3> Ingredientes</h3>
    <br>
    <ul>
        <li> 2 colheres de sopa de azeite;</li>
        <li> 1 cebola picada;</li>
        <li> 500g de carne moída;</li>
        <li> 1kg de batata doce;</li>
        <li> 2 colheres de sopa de manteiga;</li>
        <li> 1/2 copo americano de leite;</li>
        <li> Sal a gosto</li>
        <li> 100g de queijo parmesão ralado;</li>
    </ul>
    <br>
    <br>
    <h1> Crepioca de queijo com tomate e orégano</h1>
    <br>
    <br>
    <img src="../static/images/crepioca.jpg" alt="crepioca" height="330px">
    <h3> Ingredientes</h3>
    <br>
    <ul>
        <li> 1 ovo</li>
        <li> 2 colheres de sopa de tapioca</li>
        <li> 1 pitada de sal rosa</li>
        <li> 1 fio de azeite de oliva</li>
        <li>1 fatia de queijo mussarela</li>
        <li> 1 colher de sopa de tomate picadinho</li>
        <li> Orégano a gosto</li>
    </ul>
</div>
    
    
  </main>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>
</html>
