<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de receitas </title>
  <link rel="stylesheet" type="text/css" href="../static/css/styleIndex2.css">
  <!-- BootStrap -->
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous" />

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg cabecalho-conteiner">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../static/images/logosemnome.png" alt height="50px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <!-- <div class="justify-content-end"> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/form_cadastro_receita">Nova receita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index2_beHealthy">Voltar</a>
            </li>
          </ul>
        </div>
        <!-- </div> -->
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <h1 class="text-center m-4">Lista de Receitas</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Título da Receita</th>
            <th scope="col">Ingredientes</th>
          </tr>
        </thead>
        <tbody>
          {% for receita in receitas %}
            <tr>
              <td><strong>{{ receita[0] }}</strong></td>
              <td>{{ receita[1] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>