{% extends "modelo.html" %}
{% block conteudo %}
    <p>O nosso site foi pensado e desenvolvido objetivando fornecer suporte na
        adoção uma forma de alimentação saudável, equilibrada e personalizada para o usuário.
        Analisando os impedimentos e dificuldades do consumidor chegamos a ponto cruciais,
        como a escassez/melhor aproveitamento de tempo, falta de informações acessíveis, personalizadas e com metas de saúde,
        omissão de motivação e suporte, acompanhamento progressivo, confiabilidade nas informações e facilidade de uso.
        </p>
    <h3> Discentes: Layse Bruna, Kiellen Karoline, Pedro Angelo, Agailton.<h3>
{% endblock %}